[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
migrate = "python manage.py migrate"
makemigrations = "python manage.py makemigrations"
server = "python manage.py runserver"
shell = "python manage.py shell"
